.author{
  padding: 180px 0 140px;
  background: $extralightblue;
  &__img{
    display: none;
  }
  &__left{
    width: 545px;
    height: 640px;
    border: 10px solid #FFCA42;
      position: relative;
    &::before{
      content: url("../images/author.png");
      position: absolute;
      top: -60px;
      left: -60px;
      width: 100%;
    }
  }

  &__right{
    width: 50%;

  }
  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__desc{
    @include text ($inter, 19px, 34px, 0, $grey);
    margin: 33px 0;
  }

  &__row{
    display: flex;

    justify-content: space-between;

  }
  &__card{
    &-title{
      @include text ($cardo, 54px, 77px, 0, $blue);

    }
    &-desc{
      @include text ($inter, 17px, 22px,0,  $grey);

    }

  }
  &__info{
    margin: 54px 0 0;
    display: flex;
    align-items: center;
    column-gap: 40px;
    background: $blue;
    padding: 16px 20px;
    max-width: 484px;
  }
  &__data{
    &-title{
      @include text ($cardo, 22px, 26px, 0, $yellow);
    }

    &-mail{
      @include text($inter, 18px, 28px, 0.19px, $lightblue);
      margin: 10px 0 4px;
    }
    &-phone{
      @include text($inter, 18px, 28px, 0.19px, $lightblue);
    }

  }

}


@media (max-width: 1440px) {

}
@media (max-width: 1320px) {
  .author__left{
    display: none;
  }

  .author__img{
    display: inline-block;
    width: 450px;
  }

  }
@media (max-width: 1200px) {
  .author__img{
    width: 375px;
  }

  .author__desc{
    @include text ($inter, 16px, 25px, 0, $grey);
  }
  .author__card-title{
    @include text ($cardo, 45px, 60px, 0, $blue);
  }
  .author__card-desc{
    @include text ($inter, 15px, 30px, 0, $grey);

  }
  .author__data-title{
    @include text ($cardo, 19px, 21px, 0, $yellow);
  }
  .author__data-mail{
    @include text($inter, 15px, 21px, 0.19px, $lightblue);
  }
  .author__data-phone{
    @include text($inter, 15px, 20px, 0.19px, $lightblue);
  }
  .author__data-img{
    width: 80px;
  }

}

@media (max-width: 1024px) {

}
@media (max-width: 992px) {
  .author{
    padding: 60px 0 60px;
  }
  .author__content{
    flex-wrap: wrap;
    justify-content: center;

  }
  .author__img{
    margin-bottom: 30px;
  }

  .author__right{
    width: 100%;
  }
  .author__img{
    width: 330px;
  }

}


@media (max-width: 820px) {

}


@media (max-width: 786px) {

}

@media (max-width: 676px) {

  .author__desc{
    @include text ($inter, 14px, 20px, 0, $grey);
  }
  .author__data-title{
    @include text ($cardo, 16px, 21px, 0, $yellow);
  }
  .author__data-mail{
    @include text($inter, 13px, 21px, 0.19px, $lightblue);
  }
  .author__data-phone{
    @include text($inter, 12px, 20px, 0.19px, $lightblue);
  }
  .author__data-img{
    width: 80px;
  }
}

@media (max-width: 576px) {


.author__row{
  display: inline;
}

  .author__info{
    column-gap: 20px;
  }
}

@media (max-width: 425px) {

}